/* Main Styles */
body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom right, #BFECFF, #CDC1FF, #FFF6E3, #FFCCEA);
    font-family: jost;
    text-align: center;
    margin: 0;
}

.main-container {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    font-size: 25px;
}

.main-header {
    display: flex;
    text-align: center;
    justify-content: center;
    padding-bottom: 300px;
}

.index-anchor {
    text-decoration: none;
    margin-left: 30px;
    color: white;
    font-size: 20px;
}

.signup-login {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

fieldset {
    display: inline-block;
    max-width: 400px;
    border-radius: 10px;
    background-color: #FFF6E3;
    border-color: white;
    border-width: 1px;
    margin: 0 auto;
    padding: 20px;
    width: 100%;
    height: 500px; 
    overflow-y: auto; 
}

/* Your garden */
.your-garden-fieldset {
    font-size: 30px;
    background-color: #CDC1FF;
    border-radius: 10px;
    padding: 20px;
    width: 500px;
    height: 500px; 
}

.yG-list {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    margin: 0; 
    overflow-y: auto; 
    max-height: 400px; 
    padding: 0; 
}

.input-structure {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.plant-input-button {
    background-color: #BFECFF;
    border-color: #BFECFF;
}

.garden-h2 {
    font-size: 30px;
    margin: 0;
}

.plnt_list_output {
    padding-top: 0;
}


.plant-item {
    font-size: 20px;
    margin: 10px;
    padding: 10px;
    background-color: #FFF6E3;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;
    box-sizing: border-box;
}

.delete-btn {
    background-color: #FF6B6B; 
    color: white;
    border: none;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    font-size: 16px;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: #FF4D4D; 
}
