/*main*/
body{

    height: 110vh;
    background: linear-gradient( to bottom right, #BFECFF, #CDC1FF,#FFF6E3, #FFCCEA);
    font-family: jost;
    text-align: center;
}

.main-container{
    display: flex;
    flex-direction: column;
    margin-top: 400px;
    font-size: 25px;
}
.main-header{
    display: flex;
    text-align: center;
    justify-content: center;
    padding-bottom: 300px;
    
}

.index-anchor{
    text-decoration: none;
    margin-left: 30px;
    color: white;
    font-size: 20px;

}

.signup-login{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
    
}
.signup-login label{
    display: inline-block;
    width: 80px;
}
fieldset{
    margin-left: 40%;
    margin-right: 40%;
    border-radius: 10px;
    background-color: #FFF6E3;
    border-color: white;
    border-width: 1px;
    
}

/*Your garden*/ 
.your-garden-fieldset{
    font-size: 30px;
    background-color: #CDC1FF;
    border-radius: 10px;
    padding: 25px;
    width: 500px;
    
    
 
}
.yG-list{
    margin-right: 100%;
}
.input-structure{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;   
}

.plant-input-button{
    background-color: #BFECFF;
    border-color: #BFECFF;
}
.garden-h2{
    font-size: 20px;
    
}
